<div class="col-sm-12">
    <button ng-click="ServiceHelper.Service.filter.by(undefined, 'category')"
            class="btn btn-xs btn-danger"
            ng-class="{'active': ServiceHelper.Service.filter.category == undefined}">Все
    </button>
    <button ng-repeat="cat in ::categories track by cat._id"
            ng-click="ServiceHelper.Service.filter.by(cat, 'category')"
            class="btn btn-xs btn-danger"
            ng-class="{'active': ServiceHelper.Service.filter.category.title == cat.title}">
        {{ ::cat.title }}
    </button>

    <br>

    <button ng-click="ServiceHelper.Service.filter.by(undefined, 'subcategory')"
            class="btn btn-xs btn-warning"
            ng-class="{'active': ServiceHelper.Service.filter.subcategory == undefined}">Все
    </button>
    <button ng-if="ServiceHelper.Service.filter.category.title"
            ng-repeat="subcat in ::subcategories track by subcat._id"
            ng-click="ServiceHelper.Service.filter.by(subcat,'subcategory')"
            class="btn btn-xs btn-warning"
            ng-class="{'active': ServiceHelper.Service.filter.subcategory.title == subcat.title}">
        {{ ::subcat.title }}
    </button>

    <br>

    <button ng-click="ServiceHelper.Service.filter.by(undefined, 'subsubcategory')"
            class="btn btn-xs btn-info"
            ng-class="{'active': ServiceHelper.Service.filter.subsubcategory == undefined}">Все
    </button>
    <button ng-if="ServiceHelper.Service.filter.subcategory.title"
            ng-repeat="subsubcat in ::subsubcategories track by subsubcat._id"
            ng-click="ServiceHelper.Service.filter.by(subsubcat,'subsubcategory')"
            class="btn btn-xs btn-info"
            ng-class="{'active': ServiceHelper.Service.filter.subsubcategory.title == subsubcat.title}">
        {{ ::subsubcat.title }}
    </button>
</div>

<div class="col-sm-4">
    {% include "partials/patient/_available_services_table.njk" %}
</div>
<div class="col-sm-8">
    {% include "partials/patient/_selected_services.njk" %}
</div>
