<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th class="text-center">
                    <input ng-if="ServiceHelper.AssignedMarker.getNewServices(true)>0" type="checkbox"
                           ng-change="ServiceHelper.AssignedMarker.toggleAll()"
                           ng-model="ServiceHelper.AssignedMarker.isAllMarked" ng-true-value="1" ng-false-value="0">
                </th>
                <th>№</th>
                <th>Категория</th>
                <th>Услуга</th>
                <th>Количество</th>
                <th>Скидка (%)</th>
                <th>Стоимость</th>
                <th>Оплачен</th>
                <th>Долг</th>
                <th>Состояние</th>
                <th>Партнёр</th>
                <th>Дата</th>
                <th class="text-right">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href ng-click="ServiceHelper.AssignedService.remove()">
                                    <i class="fa fa-fw fa-minus"></i> Удалить
                                </a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="selSrv in patient.services_assigned">
                <td class="text-center">
                    <input ng-if="selSrv.state._id=='new'" type="checkbox"
                           ng-change="ServiceHelper.AssignedMarker.onChange()"
                           ng-model="selSrv.marked" ng-true-value="1" ng-false-value="0">
                </td>
                <td>{{ $index + 1 }}</td>
                <td>{{ selSrv.category.title }}</td>
                <td>{{ selSrv.title }}</td>
                <td class="text-right col-sm-2">
                    {{ selSrv.quantity | number }}
                </td>
                <td class="text-right"
                    title="{{ selSrv.discount.note }}">{{ selSrv.discount.amount || 0 | number: 2 }}</td>
                <td class="text-right">{{ selSrv.priceTotal | number: 2 }}</td>
                <td class="text-right">{{ selSrv.payed | number: 2 }}</td>
                <td class="text-right">{{ selSrv.debt | number: 2 }}</td>
                <td class="text-center">{{ selSrv.state.title }}</td>
                <td>{{ selSrv.partner.code }}</td>
                <td>{{ selSrv.created | date:'medium' }}</td>

                <td class="text-right">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href ng-click="ServiceHelper.AssignedService.remove(selSrv)">
                                    <i class="fa fa-fw fa-minus"></i> Удалить
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>

            </tr>

            </tbody>

            <tfoot>
            <tr>
                <th class="text-right" colspan="4">Всего:</th>
                <th class="text-right">{{ ServiceHelper.AssignedService.total('quantity') | number }}</th>
                <th></th>
                <th class="text-right">{{ ServiceHelper.AssignedService.total('price') | number }}</th>
                <th class="text-right">{{ ServiceHelper.AssignedService.total('payed') | number }}</th>
                <th class="text-right">{{ ServiceHelper.AssignedService.total('debt') | number }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
