<div class="col-sm-3">
    <div class="input-group">
        <input ng-model="filterCategory" class="form-control" placeholder="Фильтр по категориям...">
        <span class="input-group-btn">
            <button ng-click="filterCategory=''" class="btn btn-default">
                <i class="fa fa-fw fa-remove"></i>
            </button>
        </span>
    </div>
    <div class="input-group">
        <input ng-model="filterService" class="form-control" placeholder="Фильтр по услугам...">
        <span class="input-group-btn">
            <button ng-click="filterService=''" class="btn btn-default">
                <i class="fa fa-fw fa-remove"></i>
            </button>
        </span>
    </div>

    <div ng-repeat="catTitle in categories | filter:filterCategory" class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-right: -12px;">
                <div class="col-sm-7">
                    {{ catTitle }}
                </div>
                <div class="col-sm-5 text-right">
                    {{ ServiceHelper.totalPriceByCategory(catTitle) | number }}
                    <button ng-click="ServiceHelper.Service.addAll(catTitle)" class="btn btn-xs btn-success">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-condensed table-hover">
            <tbody>
            <tr ng-repeat="srv in ServiceHelper.getByCategory(catTitle) | filter:{title:filterService}">
                <td class="col-sm-8">{{ srv.title }}</td>
                <td class="col-sm-3 text-right">{{ srv.price | number }}</td>
                <td class="col-sm-1 text-right">
                    <button ng-click="ServiceHelper.Service.add(srv)" class="btn btn-xs btn-info">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
