<div class="col-sm-9">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center">
                <input type="checkbox"
                       ng-change="ServiceHelper.Marker.toggleAll()"
                       ng-model="ServiceHelper.Marker.isAllMarked" ng-true-value="1" ng-false-value="0">
            </th>
            <th>№</th>
            <th>Категория</th>
            <th>Услуга</th>
            <th>Количество</th>
            <th>Скидка (%)</th>
            <th>Стоимость</th>
            <th>Партнёр</th>
            <th class="text-right">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href ng-click="ServiceHelper.Service.remove()">
                                <i class="fa fa-fw fa-minus"></i> Удалить
                            </a>
                        </li>
                        <li>
                            <a href ng-click="openDiscount()">
                                <i class="fa fa-fw fa-gift"></i> Скидка
                            </a>
                        </li>
                        <li>
                            <a href ng-click="openPartner()">
                                <i class="fa fa-fw fa-user-plus"></i> Партнёр
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="selSrv in patient.services">
            <td class="text-center">
                <input type="checkbox"
                       ng-change="ServiceHelper.Marker.onChange()"
                       ng-model="selSrv.marked" ng-true-value="1" ng-false-value="0">
            </td>
            <td>{{ $index + 1 }}</td>
            <td>{{ selSrv.category.title }}</td>
            <td>{{ selSrv.title }}</td>
            <td class="text-right col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-btn">
                        <button ng-click="ServiceHelper.Service.add(selSrv,-1)" ng-disabled="selSrv.quantity<=1"
                                class="btn btn-danger">
                            <i class="fa fa-fw fa-minus"></i>
                        </button>
                    </span>
                    <input ng-model="selSrv.quantity" type="number" class="form-control" min="1"
                           ng-change="ServiceHelper.Service.recalc(selSrv)">
                    <span class="input-group-btn">
                        <button ng-click="ServiceHelper.Service.add(selSrv,1)" class="btn btn-success">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
            </td>
            <td class="text-right" title="{{ selSrv.discount.note }}">{{ selSrv.discount.amount || 0 | number }}</td>
            <td class="text-right">{{ selSrv.priceTotal | number }}</td>
            <td>{{ selSrv.partner.code }}</td>

            <td class="text-right">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href ng-click="ServiceHelper.Service.remove($index)">
                                <i class="fa fa-fw fa-minus"></i> Удалить
                            </a>
                        </li>
                    </ul>
                </div>
            </td>

        </tr>

        </tbody>
    </table>
</div>

<pre>{{ ServiceHelper | json }}</pre>
<pre>{{ patient.services | json }}</pre>