<h3>Изменение реквизитов пациента</h3>

<form name="formPatient" novalidate>

    {% include "partials/patient/_form_fields.njk" %}

    <div class="row">
        <div class="col-sm-12 text-right">
            <button ng-click="savePatient()" ng-disabled="formPatient.$invalid"
                    class="btn btn-success">Сохранить
            </button>
        </div>
    </div>

</form>
