<h3>Пациенты</h3>

<div class="checkbox">
    <label>
        <input ng-model="todaysOnly" type="checkbox"
               ng-true-value="1"
               ng-false-value="0"
               ng-change="pageChanged()"> Только сегодняшнее
    </label>
</div>


<table class="table table-bordered table-striped table-hover table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Пол</th>
        <th>Тел</th>
        <th>Адрес</th>
        <th>Дата регистрации</th>
        <th>Последнее посещение</th>
        <th>Долг</th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr dir-paginate="pat in patients | itemsPerPage: pagination.pageSize"
        current-page="pagination.current"
        total-items="pagination.total"
        ng-class="{'danger':pat.debt>0}">
        <td class="text-right">{{ pagination.itemNumber($index) }}</td>
        <td>{{ pat.lastName }}</td>
        <td>{{ pat.firstName }}</td>
        <td>{{ pat.middleName }}</td>
        <td>{{ pat.dateOfBirth | date }}</td>
        <td title="{{ pat.sex.title }}" class="text-center">
            <i ng-if="pat.sex._id == 'male'" class="fa fa-fw fa-mars"></i>
            <i ng-if="pat.sex._id == 'female'" class="fa fa-fw fa-venus"></i>
        </td>
        <td>{{ pat.cellPhone }}</td>
        <td>{{ pat.address }}</td>
        <td>{{ pat.created | date:'medium' }}</td>
        <td>{{ pat.lastVisit | date:'medium' }}</td>
        <td class="text-right">{{ pat.debt | number:2 }}</td>
        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ui-sref="patientView.services({id:pat._id})"><i class="fa fa-fw fa-search"></i> Просмотр</a>
                    </li>
                    <li><a ui-sref="patientEdit({id:pat._id})"><i class="fa fa-fw fa-edit"></i> Изменить</a></li>
                    <li><a href ng-click="deletePatient(pat)"><i class="fa fa-fw fa-trash"></i> Удалить</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a ui-sref="patientView({id:pat._id})">
                            <i class="fa fa-fw fa-paperclip"></i> Результаты анализа
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="12">
            <dir-pagination-controls on-page-change="pageChanged()"></dir-pagination-controls>
        </td>
    </tr>
    </tfoot>
</table>
