<h3>
    {{ patient.lastName }} {{ patient.firstName }} {{ patient.middleName }}
</h3>

<table class="table">
    <tbody>
    <tr>
        <td>
            <i title="{{ patient.sex.title }}" ng-if="patient.sex._id == 'male'" class="fa fa-fw fa-mars"></i>
            <i title="{{ patient.sex.title }}" ng-if="patient.sex._id == 'female'" class="fa fa-fw fa-venus"></i>
        </td>
        <td><i class="fa fa-fw fa-calendar"></i> {{ patient.dateOfBirth | date }}</td>
        <td><i class="fa fa-fw fa-mobile"></i> {{ patient.cellPhone }}</td>
        <td><i class="fa fa-fw fa-phone"></i> {{ patient.homePhone }}</td>
        <td><i class="fa fa-fw fa-envelope"></i> {{ patient.email }}</td>
        <td><i class="fa fa-fw fa-map-marker"></i> {{ patient.address }}</td>
    </tr>
    </tbody>
</table>

<div class="col-sm-3">
    <input ng-model="filterCategory" class="form-control" placeholder="Фильтр по категориям...">

    <div ng-repeat="catTitle in categories | filter:filterCategory" class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    {{ catTitle }}
                </div>
                <div class="col-sm-6 text-right" style="padding-right: 6px;">
                    {{ getServicesByCategoryTotal(catTitle) | number }}
                    <button ng-click="selectAllService(catTitle)" class="btn btn-xs btn-success">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <table class="table table-condensed table-hover">
            <tbody>
            <tr ng-repeat="srv in getServicesByCategory(catTitle)">
                <td>{{ srv.title }}</td>
                <td class="text-right">{{ srv.price | number }}</td>
                <td class="text-right">
                    <button ng-click="selectService(srv)" class="btn btn-xs btn-info">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="col-sm-9">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>№</th>
            <th>Категория</th>
            <th>Услуга</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat-start="selSrv in patient.services">
            <td>{{ $index + 1 }}</td>
            <td>{{ selSrv.category.title }}</td>
            <td>{{ selSrv.title }}</td>
            <td class="text-right col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-btn">
                        <button ng-click="selectService(selSrv,-1)" ng-disabled="selSrv.quantity<=1"
                                class="btn btn-danger">
                            <i class="fa fa-fw fa-minus"></i>
                        </button>
                    </span>
                    <input ng-model="selSrv.quantity" type="number" class="form-control" min="1"
                           ng-change="calcService(selSrv)">
                    <span class="input-group-btn">
                        <button ng-click="selectService(selSrv,1)" class="btn btn-success">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
            </td>
            <td class="text-right">{{ selSrv.priceTotal | number }}</td>
            <td class="text-right">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href ng-click="deselectService($index)">
                                <i class="fa fa-fw fa-minus"></i> Удалить
                            </a>
                        </li>
                        <li>
                            <a href ng-click="openDiscount(selSrv)">
                                <i class="fa fa-fw fa-gift"></i> Скидка
                            </a>
                        </li>
                        <li>
                            <a href ng-click="openPartner(selSrv)">
                                <i class="fa fa-fw fa-user-plus"></i> Партнёр
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr ng-repeat-end>
            <td ng-if="selSrv.discountWindow" colspan="7">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="req">Скидка</label>
                        <input ng-model="selSrv.discount" type="number" class="form-control" min="0" max=100 required>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label ng-class="{'req':selSrv.discount>0}">Причина</label>
                        <input ng-model="selSrv.discountNote" class="form-control" maxlength="200"
                               ng-required="selSrv.discount>0">
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <button ng-click="setDiscount(selSrv)" class="btn btn-success">
                        <i class="fa fa-fw fa-gift"></i> Установить скидку
                    </button>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<pre>{{ patient.services | json }}</pre>