<h3>
    [ID: {{ patient.code }}] {{ patient.lastName }} {{ patient.firstName }} {{ patient.middleName }}
    <a access="patient:edit" ui-sref="patientEdit({id: patient._id})" title="Редактировать">
        <i class="fa fa-fw fa-edit"></i>
    </a>
    <a access="patient:service:results" ui-sref="laboratoryAllResults({id: patient._id})" title="Результаты анализов">
        <i class="fa fa-fw fa-paperclip"></i>
    </a>
</h3>

{% include "partials/patient/_patient_info.njk" %}

<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="patientView.addServices">Добавить услугу</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="patientView.services">Оказанные услуги</a>
    </li>
</ul>

<div ui-view="patient"></div>