<h3>
    {{ patient.lastName }} {{ patient.firstName }} {{ patient.middleName }}
</h3>

{% include "partials/patient/_patient_info.njk" %}

{% include "partials/patient/_available_services.njk" %}

{% include "partials/patient/_selected_services.njk" %}
