<h1>Касса</h1>

<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Тел</th>
        <th>Количество услуг</th>
        <th>Общая стоимость</th>
        <th>Оплачена</th>
        <th>Долг</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="rec in records">
        <td>{{ $index + 1 }}</td>
        <td>{{ rec.patient.lastName }}</td>
        <td>{{ rec.patient.firstName }}</td>
        <td>{{ rec.patient.middleName }}</td>
        <td>{{ rec.patient.cellPhone }}</td>
        <td class="text-right">{{ rec.quantity | number }}</td>
        <td class="text-right">{{ rec.totalPrice | number }}</td>
        <td class="text-right">{{ rec.totalPayed | number }}</td>
        <td class="text-right">{{ rec.totalDebt | number }}</td>
        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href ng-click="startPay(rec)">
                            <i class="fa fa-fw fa-list"></i> Оплатить
                        </a>
                    </li>
                    <li>
                        <a ui-sref="cashPay({ patientService : rec })">
                            <i class="fa fa-fw fa-search"></i> Открыть
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
