<ol class="breadcrumb">
    <li><a ui-sref="cashRegistry">Реестр оплат</a></li>
</ol>

<h1>Касса</h1>

<div class="checkbox">
    <label>
        <input ng-model="todaysOnly" type="checkbox"
               ng-true-value="1"
               ng-false-value="0"
               ng-change="reloadPage()"> Только сегодняшнее
    </label>
</div>

<div ng-if="todaysOnly == 0" class="col-sm-4">
    <form class="form-horizontal" novalidate>

        <div class="form-group">
            <label class="control-label col-sm-4 req">с</label>
            <div class="col-sm-8">
                <input ng-model="period.start"
                       bs-datepicker
                       data-autoclose="true"
                       data-max-date="{{ period.end }}"
                       class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4 req">по</label>
            <div class="col-sm-8">
                <input ng-model="period.end"
                       bs-datepicker
                       data-autoclose="true"
                       data-min-date="{{ period.start }}"
                       class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button ng-click="reloadPage()" class="btn btn-default">Показать</button>
            </div>
        </div>

    </form>
</div>

<div access="cash:branch:change" class="row">
    <div class="col-sm-12">
        <button ng-click="Filter.by(undefined)"
                class="btn btn-xs btn-default"
                ng-class="{'active': Filter.branch == undefined}">Все филиалы
        </button>
        <button ng-repeat="b in branches"
                ng-click="Filter.by(b)"
                class="btn btn-xs btn-default"
                ng-class="{'active': Filter.branch.shortTitle == b.shortTitle}">
            {{ b.shortTitle }}
        </button>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>№</th>
        <th>
            <a href ng-click="changeSort('patient.lastName')">Фамилия</a>
            <i ng-class="classSort('patient.lastName')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('patient.firstName')">Имя</a>
            <i ng-class="classSort('patient.firstName')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('patient.middleName')">Отчество</a>
            <i ng-class="classSort('patient.middleName')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('patient.cellPhone')">Тел</a>
            <i ng-class="classSort('patient.cellPhone')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('quantity')">Количество услуг</a>
            <i ng-class="classSort('quantity')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('totalPrice')">Общая стоимость</a>
            <i ng-class="classSort('totalPrice')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('totalPayed')">Оплачена</a>
            <i ng-class="classSort('totalPayed')" class="fa fa-fw"></i>
        </th>
        <th>
            <a href ng-click="changeSort('totalDebt')">Долг</a>
            <i ng-class="classSort('totalDebt')" class="fa fa-fw"></i>
        </th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>

    <tr>
        <th></th>
        <th><input ng-model="filter.patient.lastName" class="form-control"></th>
        <th><input ng-model="filter.patient.firstName" class="form-control"></th>
        <th><input ng-model="filter.patient.middleName" class="form-control"></th>
        <th><input ng-model="filter.patient.cellPhone" class="form-control"></th>
        <th><input ng-model="filter.quantity" class="form-control"></th>
        <th><input ng-model="filter.totalPrice" class="form-control"></th>
        <th><input ng-model="filter.totalPayed" class="form-control"></th>
        <th><input ng-model="filter.totalDebt" class="form-control"></th>
        <th class="text-center">
            <button ng-click="resetFilter()" title="Очистить фильтр" class="btn btn-xs btn-default">
                <i class="fa fa-fw fa-filter"></i>
                <i class="fa fa-fw fa-remove"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="rec in records | orderBy: sort.by : sort.reverse | filter: filter" ng-dblclick="startPay(rec)">
        <td>{{ $index + 1 }}</td>
        <td>{{ rec.patient.lastName }}</td>
        <td>{{ rec.patient.firstName }}</td>
        <td>{{ rec.patient.middleName }}</td>
        <td>{{ rec.patient.cellPhone }}</td>
        <td class="text-right">{{ rec.quantity | number }}</td>
        <td class="text-right">{{ rec.totalPrice | number }}</td>
        <td class="text-right">{{ rec.totalPayed | number }}</td>
        <td class="text-right">{{ rec.totalDebt | number }}</td>
        <td class="text-center">
            <button ng-click="startPay(rec)" class="btn btn-xs btn-success" title="Оплатить">
                <i class="fa fa-fw fa-credit-card"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
