<h2>
    Услуги на оплату /
    {{ patientService.patient.lastName }}
    {{ patientService.patient.firstName }}
    {{ patientService.patient.middleName }}
</h2>

<div ng-form="formPay">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-bold">Общая информация об оплате</h3>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-info">Количество услуг</td>
                <td class="col-sm-4">{{ F.total(pendingServices,'quantity') | number: 2 }}</td>
                <td class="col-sm-2 text-right text-bold cell-info">Общая стоимость (сум)</td>
                <td class="col-sm-4">{{ F.total(pendingServices, 'priceTotal') | number: 2 }}</td>
            </tr>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-info">Оплачен (сум)</td>
                <td class="col-sm-4">{{ F.total(pendingServices,'payed') | number: 2 }}</td>
                <td class="col-sm-2 text-right text-bold cell-info">Долг (сум)</td>
                <td class="col-sm-4">{{ F.total(pendingServices, 'debt') | number: 2 }}</td>
            </tr>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-info">К оплате (сум)</td>
                <td class="col-sm-4">{{ F.total(pendingServices,'forPay') | number: 2 }}</td>
                <td class="col-sm-2 text-right text-bold cell-info">Долг после оплаты (сум)</td>
                <td class="col-sm-4">{{ F.total(pendingServices, 'debtAfterPay') | number: 2 }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-right cell-info" colspan="4">
                    <button ng-click="save()" ng-disabled="formPay.$invalid" class="btn btn-primary">Оплатить</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div ng-repeat="penSrv in pendingServices" ng-form="formPayInternal" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-bold">№{{ $index + 1 }}. {{ penSrv.category.title }} / {{ penSrv.title }}</h3>
        </div>

        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-default">Дата добавление</td>
                <td class="col-sm-4">{{ penSrv.created | date: 'medium' }}</td>
                <td class="col-sm-2 text-right text-bold cell-default">Состояние</td>
                <td class="col-sm-4">{{ penSrv.state.title }}</td>
            </tr>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-default">Количество</td>
                <td class="col-sm-4">{{ penSrv.quantity | number }}</td>
                <td class="col-sm-2 text-right text-bold cell-default">Общая стоимость (сум)</td>
                <td class="col-sm-4">{{ penSrv.priceTotal | number: 2 }}</td>
            </tr>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-default">Оплачен (сум)</td>
                <td class="col-sm-4">{{ penSrv.payed | number: 2 }}</td>
                <td class="col-sm-2 text-right text-bold cell-default">Долг (сум)</td>
                <td class="col-sm-4">{{ penSrv.debt | number: 2 }}</td>
            </tr>
            <tr>
                <td class="col-sm-2 text-right text-bold cell-default">Всего к оплате (сум)</td>
                <td class="col-sm-4">
                    <input ng-model="penSrv.forPay" ng-change="PendingServiceHelper.forPayChanged(penSrv)"
                           min="0" max="{{ penSrv.debt }}"
                           class="form-control text-right" type="number" required>
                </td>
                <td class="col-sm-2 text-right text-bold cell-default">Долг после оплаты (сум)</td>
                <td class="col-sm-4">{{ penSrv.debtAfterPay | number: 2 }}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>№</th>
                <th>Тип оплаты</th>
                <th>К оплате (сум)</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="psPay in penSrv.pays">
                <td>{{ $index + 1 }}</td>
                <td>
                    <select ng-model="psPay.payType" ng-options="pt.title for pt in payTypes"
                            ng-disabled="penSrv.pays.length>1"
                            class="form-control" required>
                        <option value="">-</option>
                    </select>
                </td>
                <td>
                    <input ng-model="psPay.amount" ng-disabled="penSrv.pays.length<2"
                           ng-change="PendingServiceHelper.normalizePays(penSrv,$index)"
                           min="0" max="{{ penSrv.forPay }}"
                           class="form-control text-right" type="number" required>
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-if="penSrv.pays.length<2">
                                <a href ng-click="PendingServiceHelper.splitPay(penSrv)">
                                    <i class="fa fa-fw fa-share-alt"></i> Разделить по типу
                                </a>
                            </li>
                            <li ng-if="penSrv.pays.length>1">
                                <a href ng-click="PendingServiceHelper.mergePay(penSrv)">
                                    <i class="fa fa-fw fa-share-alt fa-rotate-180"></i> Отменить разделение по типу
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<pre>{{ pendingServices | json }}</pre>