<h3>Организации</h3>

<button ui-sref="companyCreate" class="btn btn-success"><i class="fa fa-fw fa-plus"></i> Новая организация</button>

<table class="table table-bordered table-striped table-hover table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Коротко</th>
        <th>Тел</th>
        <th>Адрес</th>
        <th>Дата регистрации</th>
        <th>Пользователь</th>
        <th></th>
        <th>Баланс</th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="company in companies">
        <td class="text-right">{{ $index + 1 }}</td>
        <td>{{ company.title }}</td>
        <td>{{ company.shortTitle }}</td>
        <td>{{ company.phone }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.created | date:'medium' }}</td>
        <td title="{{ company.user.fullName }}">{{ company.user.username }}</td>
        <td class="text-center" title="{{ company.state.title }}">
            <i class="fa fa-fw"
               ng-class="{'fa-check text-success':company.state._id=='active','fa-ban text-danger':company.state._id=='blocked'}"></i>
        </td>
        <td>{{ company.balance | number: 2 }}</td>
        <td class="text-center">
            <a ui-sref="companyEdit({id:company._id})" title="Изменить" class="btn btn-xs btn-info">
                <i class="fa fa-fw fa-edit"></i></a>
            <a href ng-click="deleteCompany(company)" title="Удалить" class="btn btn-xs btn-danger">
                <i class="fa fa-fw fa-trash"></i></a>
            <a ui-sref="companyDetails({id:company._id})" title="Детализация" class="btn btn-xs btn-info">
                <i class="fa fa-fw fa-search"></i></a>
            <a ui-sref="companyPay({id:company._id})" title="Пополнить счет" class="btn btn-xs btn-success">
                <i class="fa fa-fw fa-usd"></i></a>
        </td>
    </tr>
    </tbody>

</table>
