<h3>Организации</h3>

<button ui-sref="companyCreate" class="btn btn-success"><i class="fa fa-fw fa-plus"></i> Новая организация</button>

<table class="table table-bordered table-striped table-hover table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Коротко</th>
        <th>Тел</th>
        <th>Адрес</th>
        <th>Дата регистрации</th>
        <th>Пользователь</th>
        <th></th>
        <th>Баланс</th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="company in companies">
        <td class="text-right">{{ $index + 1 }}</td>
        <td>{{ company.title }}</td>
        <td>{{ company.shortTitle }}</td>
        <td>{{ company.phone }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.created | date:'medium' }}</td>
        <td title="{{ company.user.fullName }}">{{ company.user.username }}</td>
        <td class="text-center" title="{{ company.state.title }}">
            <i class="fa fa-fw"
               ng-class="{'fa-check text-success':company.state._id=='active','fa-ban text-danger':company.state._id=='blocked'}"></i>
        </td>
        <td>{{ company.balance | number: 2 }}</td>
        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ui-sref="companyEdit({id:company._id})"><i class="fa fa-fw fa-edit"></i> Изменить</a></li>
                    <li><a href ng-click="deleteCompany(company)"><i class="fa fa-fw fa-trash"></i> Удалить</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>

</table>
