<footer ng-if="loggedin" class="footer">
    <div class="container">
        <p class="text-muted">STARMED - Система управления клиникой. {{{ year }}} &copy; Все права защищены.</p>
    </div>
</footer>
