<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="home">STARMED</a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">

                <li class="active"><a href="#"><i class="fa fa-fw fa-home"></i> Главная</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-desktop"></i> Регистрация <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="patientSearch"><i class="fa fa-fw fa-search"></i> Поиск</a></li>
                        <li><a ui-sref="patientCreate"><i class="fa fa-fw fa-plus"></i> Новый пациент</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="patientList"><i class="fa fa-fw fa-list"></i> Пациенты</a></li>
                    </ul>
                </li>

                <li><a ui-sref="cash"><i class="fa fa-fw fa-credit-card"></i> Касса</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-line-chart"></i> Отчеты <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Оказываемые услуги</a></li>
                        <li><a href="#">Регистрация по операторам</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Партнёры</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-cogs"></i> Администрирование <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Пользователи</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Параметры системы</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" title="Профиль"><i class="fa fa-fw fa-user"></i></a></li>
                <li><a href="#" title="Выход"><i class="fa fa-fw fa-power-off"></i></a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>