<nav ng-if="loggedin" class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="home">
                <i class="fa fa-fw fa-home"></i>{{ $localStorage.currentUser.branch.shortTitle }}
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">

                <li access="search">
                    <a ui-sref="patientSearch" title="Поиск"><i class="fa fa-fw fa-search"></i> Поиск</a>
                </li>

                <li access="patient:list">
                    <a ui-sref="patientList" title="Пациенты"><i class="fa fa-fw fa-users"></i> Пациенты</a>
                </li>

                <li access="laboratory">
                    <a ui-sref="laboratory" title="Лаборатория"><i class="fa fa-fw fa-flask"></i> Лаборатория</a>
                </li>

                <li access="cash:pay">
                    <a ui-sref="cashList" title="Касса"><i class="fa fa-fw fa-usd"></i> Касса</a>
                </li>

                <li access="cash:registry">
                    <a ui-sref="cashRegistry" title="Реестр оплат"><i class="fa fa-fw fa-archive"></i> Реестр оплат</a>
                </li>

                <li access="report" class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-line-chart"></i> Отчеты <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Оказываемые услуги</a></li>
                        <li><a href="#">Регистрация по операторам</a></li>
                        <li role="separator" class="divider"></li>
                        <li access="report:partnerInterests">
                            <a ui-sref="partnerInterests">Доля партнёров за период</a>
                        </li>
                    </ul>
                </li>

                <li access="admin,branch:list,user:list,category:list,service:list,partner:list,
                company:list,cash:discount:reason,admin:settings,admin:logs"
                    class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-cogs"></i> Администрирование <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li access="branch:list"><a ui-sref="branchesList">Филиалы</a></li>
                        <li access="user:list"><a ui-sref="userList">Пользователи</a></li>
                        <li access="category:list"><a ui-sref="serviceCategoryList">Категории</a></li>
                        <li access="service:list"><a ui-sref="serviceList">Услуги</a></li>
                        <li access="partner:list"><a ui-sref="partnerList">Партнёры</a></li>
                        <li access="company:list"><a ui-sref="companyList">Организации</a></li>
                        <li access="cash:discount:reason"><a ui-sref="discountReasonList">Причины скидки</a></li>
                        <li role="separator" class="divider"></li>
                        <li access="admin:settings"><a ui-sref="settings">Параметры системы</a></li>
                        <li access="admin:logs"><a ui-sref="log">Протокол действий</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li access="user:profile">
                    <a ui-sref="userProfile({id: $localStorage.currentUser.id})"
                       title="Профиль {{ $localStorage.currentUser.fullName }}">
                        <i class="fa fa-fw fa-user"></i> {{ $localStorage.currentUser.username }}
                    </a>
                </li>
                <li ng-controller="LoginCtrl">
                    <a href ng-click="logout()" title="Выход"><i class="fa fa-fw fa-power-off"></i></a>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>