<!doctype html>
<html lang="ru" ng-app="MyClinic">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starmed - Система Управления c Клиникой</title>

    <base href="/">

    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/lib/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/assets/lib/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="/assets/lib/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="/assets/lib/ui-select/dist/select.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-additions/dist/bootstrap-additions.min.css">
    <link rel="stylesheet" href="/assets/src/css/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/src/css/styles.css">
</head>
<body>

<toaster-container></toaster-container>

{% include "_nav_top.njk" %}

<main class="container-fluid" ui-view></main>

{% include "_footer.njk" %}

<script src="/assets/lib/jquery/dist/jquery.min.js"></script>
<script src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/lib/sugar/release/sugar.min.js"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/lib/tinymce-dist/tinymce.min.js"></script>
<script src="/assets/lib/angular/angular.min.js"></script>
<script src="/assets/lib/angular-i18n/angular-locale_ru-ru.js"></script>
<script src="/assets/lib/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="/assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/lib/angular-animate/angular-animate.min.js"></script>
<script src="/assets/lib/angular-messages/angular-messages.min.js"></script>
<script src="/assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/lib/AngularJS-Toaster/toaster.min.js"></script>
<script src="/assets/lib/angular-resource/angular-resource.min.js"></script>
<script src="/assets/lib/angular-strap/dist/angular-strap.min.js"></script>
<script src="/assets/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="/assets/lib/ui-select/dist/select.min.js"></script>
<script src="/assets/lib/underscore/underscore-min.js"></script>
<script src="/assets/lib/angularUtils-pagination/dirPagination.js"></script>
<script src="/assets/lib/angular-ui-tinymce/dist/tinymce.min.js"></script>
<script src="/assets/lib/angular-ui-sortable/sortable.min.js"></script>
<script src="/assets/src/js/app.js"></script>
<script src="/assets/src/js/services.js"></script>
<script src="/assets/src/js/controllers/Patient.js"></script>
<script src="/assets/src/js/controllers/ServiceCategory.js"></script>
<script src="/assets/src/js/controllers/Service.js"></script>
<script src="/assets/src/js/controllers/Partner.js"></script>
<script src="/assets/src/js/controllers/Cash.js"></script>

</body>
</html>