<h3>Протокол действий</h3>

<table class="table table-bordered table-striped table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Сообщение</th>
        <th>Уровень</th>
        <th>Метод</th>
        <th>Контекст</th>
        <th>Пользователь</th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat-start="log in logs"
        ng-dblclick="details(log)">
        <td class="text-right">{{ $index + 1 }}</td>
        <td>{{ log.timestamp | date:'medium' }}</td>
        <td>{{ log.message }}</td>
        <td>{{ log.level }}</td>
        <td>{{ log.meta.zMethod }}</td>
        <td>{{ log.meta.zContext }}</td>
        <td>{{ log.meta.zUsername }}</td>
        <td class="text-center">
            <button ng-click="details(log)" class="btn btn-xs btn-info" title="Подробно">
                <i class="fa fa-fw fa-search"></i>
            </button>
        </td>
    </tr>
    <tr ng-repeat-end>
        <td ng-if="log.opened" colspan="8">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                <tr>
                    <th class="col-sm-1">Message:</th>
                    <td class="col-sm-11">{{ log.meta.message }}</td>
                </tr>
                <tr>
                    <th class="col-sm-1">Data:</th>
                    <td class="col-sm-11">
                        <json-formatter json="log.meta.data" open="2"></json-formatter>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">Context:</th>
                    <td class="col-sm-11">{{ log.meta.zContext }}</td>
                </tr>
                <tr>
                    <th class="col-sm-1">Request:</th>
                    <td class="col-sm-11">{{ log.meta.zMethod }} {{ log.meta.zOriginalUrl }}</td>
                </tr>
                <tr>
                    <th class="col-sm-1">Request Header:</th>
                    <td class="col-sm-11">
                        <json-formatter json="log.meta.zHeaders" open="2"></json-formatter>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">Request Query:</th>
                    <td class="col-sm-11">
                        <json-formatter json="log.meta.zReqQuery" open="2"></json-formatter>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">Request Params:</th>
                    <td class="col-sm-11">
                        <json-formatter json="log.meta.zReqParams" open="2"></json-formatter>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">Body:</th>
                    <td class="col-sm-11">
                        <json-formatter json="log.meta.zReqBody" open="5"></json-formatter>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">User:</th>
                    <td class="col-sm-11">{{ log.meta.zUsername }} / {{ log.meta.zUserId }}</td>
                </tr>
                <tr>
                    <th class="col-sm-1">Client:</th>
                    <td class="col-sm-11">{{ log.meta.zHostname }} / {{ log.meta.zIP }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

</table>
