<div class="row">
    <div ng-if="category.isNew==1" class="form-group">
        <label class="control-label col-sm-1 req">Код</label>
        <div class="col-sm-3">
            <input ng-model="category._id" class="form-control" maxlength="100" ng-pattern="/^[a-zA-Z]+$/" required>
            <p class="help-block">Например, для категории "Лаборатория" код может быть "laboratory"</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Наименование</label>
        <div class="col-sm-3">
            <input ng-model="category.title" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Коротко</label>
        <div class="col-sm-3">
            <input ng-model="category.shortTitle" class="form-control" maxlength="20" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Состояние</label>
        <div class="col-sm-3">
            <select ng-model="category.state" class="form-control" required
                    ng-options="s.title for s in states track by s._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

</div>

{% include "partials/service-category/_subcategories.njk" %}