<div>
    <div class="form-group">
        <label class="control-label col-sm-3 req">Имя пользователя</label>
        <div class="col-sm-3">
            <input ng-model="user.username" class="form-control"
                   pattern="[a-zA-Z][a-zA-Z0-9_.]{3,}" maxlength="50" required>
            <p class="help-block">Начинается с латиницы. Допустимые символы: a-z, A-Z, 0-9, ".", "_"</p>
        </div>
    </div>

    <div class="form-group">
        <label ng-class="{'req': !user._id}" class="control-label col-sm-3">Пароль</label>
        <div class="col-sm-3">
            <input ng-model="user.password" type="password" class="form-control"
                   pattern="[0-9a-zA-Z_!@#$%^&*+-=()\[\]{}.,<>?/:;|~`]{3,}" maxlength="30" ng-required="!user._id">
            <p class="help-block">
                <span ng-if="user._id" class="text-warning">Чтобы не менять пароль, оставьте поле пустым.</span>
                Допустимые символы 0-9, a-z, A-Z, "_!@#$%^&*+-=()[]{}.,<>?/:;|~`"</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Фамилия</label>
        <div class="col-sm-3">
            <input ng-model="user.lastName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Имя</label>
        <div class="col-sm-3">
            <input ng-model="user.firstName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 ">Отчество</label>
        <div class="col-sm-3">
            <input ng-model="user.middleName" class="form-control" maxlength="50">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Должность</label>
        <div class="col-sm-3">
            <input ng-model="user.position" class="form-control" required maxlength="100">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Адрес</label>
        <div class="col-sm-3">
            <input ng-model="user.address" class="form-control" required maxlength="500">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Мобильный номер телефона</label>
        <div class="col-sm-3">
            <input ng-model="user.cellPhone" class="form-control" pattern="\d{5,12}" maxlength="12" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Домашний номер телефона</label>
        <div class="col-sm-3">
            <input ng-model="user.homePhone" pattern="\d{5,12}" maxlength="12" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Рабочий номер телефона</label>
        <div class="col-sm-3">
            <input ng-model="user.workPhone" pattern="\d{5,12}" maxlength="12" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Email</label>
        <div class="col-sm-3">
            <input ng-model="user.email" type="email" class="form-control" maxlength="50">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Состояние</label>
        <div class="col-sm-3">
            <select ng-model="user.state" class="form-control" required
                    ng-options="s.title for s in states track by s._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 req">Домашная страница</label>
        <div class="col-sm-3">
            <select ng-model="user.preferences.homePage" class="form-control" required
                    ng-options="h.sRef as h.title for h in homePages">
                <option value="">-</option>
            </select>
        </div>
    </div>

    <div class="col-sm-12">
        <label>Привилегии</label>
        <div ng-repeat="perm in permissions" class="checkbox">
            <label>
                <input ng-model="user.permissions[perm._id]" type="checkbox"> {{ perm.title }}
            </label>
        </div>
    </div>
</div>
