<h3>Пользователи</h3>

<button access="user:create" ui-sref="userCreate" class="btn btn-success">
    <i class="fa fa-fw fa-plus"></i> Новый пользователь
</button>

<table class="table table-bordered table-striped table-hover table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Имя пользователя</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Должность</th>
        <th>Адрес</th>
        <th>Мобильный</th>
        <th>Домашний</th>
        <th>Рабочий</th>
        <th>Email</th>
        <th>Дата регистрации</th>
        <th>Пользователь</th>
        <th></th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>

    <tr>
        <th></th>
        <th><input ng-model="filter.username" class="form-control"></th>
        <th><input ng-model="filter.lastName" class="form-control"></th>
        <th><input ng-model="filter.firstName" class="form-control"></th>
        <th><input ng-model="filter.middleName" class="form-control"></th>
        <th><input ng-model="filter.position" class="form-control"></th>
        <th><input ng-model="filter.address" class="form-control"></th>
        <th><input ng-model="filter.cellPhone" class="form-control"></th>
        <th><input ng-model="filter.homePhone" class="form-control"></th>
        <th><input ng-model="filter.workPhone" class="form-control"></th>
        <th><input ng-model="filter.email" class="form-control"></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">
            <button class="btn btn-xs btn-default"
                    ng-click="filter.reset()"
                    title="Очистить фильтр">
                <i class="fa fa-fw fa-filter"></i><i class="fa fa-fw fa-remove"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="user in users | filter: filter">
        <td class="text-right">{{ $index + 1 }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.middleName }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.cellPhone }}</td>
        <td>{{ user.homePhone }}</td>
        <td>{{ user.workPhone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.created | date:'medium' }}</td>
        <td title="{{ user.user.fullName }}">{{ user.user.username }}</td>
        <td class="text-center" title="{{ user.state.title }}">
            <i class="fa fa-fw"
               ng-class="{'fa-check text-success':user.state._id=='active','fa-ban text-danger':user.state._id=='blocked'}"></i>
        </td>
        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li access="user:edit">
                        <a ui-sref="userEdit({id:user._id})"><i class="fa fa-fw fa-edit"></i> Изменить</a>
                    </li>
                    <li access="user:delete">
                        <a href ng-click="deleteUser(user)"><i class="fa fa-fw fa-trash"></i> Удалить</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>

</table>
