<h2>Дополнительные поля</h2>
<p class="help-block">Эти поля используются при выборе услуги, т.е. при добавлении услуги пациентам.</p>

<div ng-repeat="field in service.fields" class="row">

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Поле № {{ $index + 1 }}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-4 req">Тип</label>
                        <div class="col-sm-8">
                            <select ng-model="field.type"
                                    ng-change="Fields.typeChanged(field)"
                                    required
                                    ng-options="type.title for type in Fields.types track by type._id"
                                    class="form-control">
                                <option value="">-</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 req">Наименование</label>
                        <div class="col-sm-8">
                            <input ng-model="field.title" maxlength="50" required class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Подсказка</label>
                        <div class="col-sm-8">
                            <input ng-model="field.placeholder" maxlength="50" class="form-control">
                            <p class="help-block">Отображается внутри поля или как всплывающая подсказка для флажка</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Справка</label>
                        <div class="col-sm-8">
                            <input ng-model="field.hint" maxlength="200" class="form-control">
                            <p class="help-block">Отображается ниже поле как справка</p>
                        </div>
                    </div>

                    <div ng-if="field.type._id=='text' || field.type._id=='number' || field.type._id=='textarea'"
                         class="form-group">
                        <label class="control-label col-sm-4">Минимальная длина</label>
                        <div class="col-sm-8">
                            <input type="number" ng-model="field.minlength" min="0" max="1000" class="form-control">
                            <p class="help-block">Цифры в диапазоне [0-1000]</p>
                        </div>
                    </div>

                    <div ng-if="field.type._id=='text' || field.type._id=='number' || field.type._id=='textarea'"
                         class="form-group">
                        <label class="control-label col-sm-4">Максимальная длина</label>
                        <div class="col-sm-8">
                            <input type="number" ng-model="field.maxlength" min="0" max="1000" class="form-control">
                            <p class="help-block">Цифры в диапазоне [0-1000]</p>
                        </div>
                    </div>

                    <div ng-if="field.type._id=='text' || field.type._id=='number' || field.type._id=='textarea'"
                         class="form-group">
                        <label class="control-label col-sm-4">Формат</label>
                        <div class="col-sm-8">
                            <input ng-model="field.pattern" class="form-control">
                            <p class="help-block">Регулярное выражения без "/",
                                например, для номера телефона в формате 123-45-67 можно указать
                                следующую регулярную выражению: ^\d{3}-\d{2}-\d{2}$</p>
                        </div>
                    </div>

                    <div ng-if="field.type._id=='number'" class="form-group">
                        <label class="control-label col-sm-4">Минимальное значение</label>
                        <div class="col-sm-8">
                            <input ng-model="field.min" type="number" class="form-control">
                        </div>
                    </div>

                    <div ng-if="field.type._id=='number'" class="form-group">
                        <label class="control-label col-sm-4">Максимальное значение</label>
                        <div class="col-sm-8">
                            <input ng-model="field.max" type="number" class="form-control">
                        </div>
                    </div>

                    <div ng-if="field.type._id=='select'" class="form-group">
                        <label class="control-label col-sm-4 req">Допустимые значении</label>
                        <div class="col-sm-8">
                            <div ng-repeat="value in field.values track by $index" class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button ng-click="Fields.Values.add(field, $index)"
                                                title="Добавить"
                                                class="btn btn-success">
                                            <i class="fa fa-fw fa-plus"></i>
                                        </button>
                                    </div>
                                    <input ng-model="value.text" maxlength="50" class="form-control" required>
                                    <div class="input-group-btn">
                                        <button ng-click="Fields.Values.remove(field, $index)"
                                                ng-disabled="field.values.length <= 2"
                                                title="Удалить"
                                                class="btn btn-danger">
                                            <i class="fa fa-fw fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="field.type._id=='text' || field.type._id=='number' || field.type._id=='select' || field.type._id=='textarea'"
                         class="col-sm-offset-4 checkbox">
                        <label>
                            <input type="checkbox" ng-model="field.required"> Обязательное поле?
                        </label>
                        <p class="help-block">Если отмечен, то полю надо обязательно заполнить</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 req">Порядок отображения</label>
                        <div class="col-sm-8">
                            <input ng-model="field.order" type="number" min="0" max="100" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Поле №{{ $index + 1 }} / Предварительный просмотр</h3>
            </div>
            <div class="panel-body">

                <ng-form name="formPreview" class="form-horizontal">

                    <div ng-if="field.type._id=='text' || field.type._id=='number' || field.type._id=='select' || field.type._id=='textarea'"
                         class="form-group">

                        <label ng-class="{'req':field.required}" class="control-label col-sm-4">
                            {{ field.title }}
                        </label>

                        <div class="col-sm-8">

                            <input ng-if="field.type._id=='text'"
                                   type="text"
                                   name="model{{ $index }}"
                                   ng-model="model[$index].field"
                                   placeholder="{{ field.placeholder }}"
                                   ng-pattern="field.pattern"
                                   ng-minlength="field.minlength"
                                   ng-maxlength="field.maxlength"
                                   ng-required="field.required"
                                   maxlength="{{ field.maxlength }}"
                                   class="form-control">

                            <input ng-if="field.type._id=='number'"
                                   type="number"
                                   name="model{{ $index }}"
                                   ng-model="model[$index].field"
                                   placeholder="{{ field.placeholder }}"
                                   ng-pattern="field.pattern"
                                   ng-minlength="field.minlength"
                                   ng-maxlength="field.maxlength"
                                   ng-required="field.required"
                                   min="{{ field.min }}"
                                   max="{{ field.max }}"
                                   class="form-control">

                            <select ng-if="field.type._id=='select'"
                                    name="model{{ $index }}"
                                    ng-model="model[$index].field"
                                    ng-required="field.required"
                                    ng-options="v.text for v in field.values"
                                    class="form-control">
                                <option value="">{{ field.placeholder }}</option>
                            </select>

                            <textarea ng-if="field.type._id=='textarea'"
                                      cols="30" rows="10"
                                      name="model{{ $index }}"
                                      ng-model="model[$index].field"
                                      placeholder="{{ field.placeholder }}"
                                      ng-pattern="field.pattern"
                                      ng-minlength="field.minlength"
                                      ng-maxlength="field.maxlength"
                                      ng-required="field.required"
                                      class="form-control"></textarea>

                            <p ng-if="field.hint" class="help-block">{{ field.hint }}</p>
                        </div>

                    </div>

                    <div ng-if="field.type._id=='checkbox'" class="col-sm-offset-4 checkbox">
                        <label title="{{ field.placeholder }}">
                            <input type="checkbox"
                                   ng-model="model[$index].field"> {{ field.title }}
                        </label>

                        <p ng-if="field.hint" class="help-block">{{ field.hint }}</p>
                    </div>

                    <div class="form-group">
                        <div ng-messages="formPreview['model'+$index].$error"
                             class="col-sm-offset-4 col-sm-8 text-danger">
                            <div ng-message="required">Поле является обязательным.</div>
                            <div ng-message="minlength">Минимальная длина не достигнута.</div>
                            <div ng-message="maxlength">Максимальная длина превышена.</div>
                            <div ng-message="pattern">Неправильный формат.</div>
                            <div ng-message="min">Неверное минимальное значение.</div>
                            <div ng-message="max">Неверное максимальное значение.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button ng-disabled="formPreview['model'+$index].$invalid" class="btn btn-success">
                                OK
                            </button>
                        </div>
                    </div>

                </ng-form>

            </div>
        </div>
    </div>

</div>

<pre>{{ service.fields | json }}</pre>