<div class="row">
    <div class="form-group">
        <label class="control-label col-sm-1 req">Категория</label>
        <div class="col-sm-3">
            <select ng-model="service.category" class="form-control" required
                    ng-options="c.title for c in serviceCategories track by c._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

    <div ng-if="Category.hasSub(service.category)" class="form-group">
        <label class="control-label col-sm-1 req">Подкатегория</label>
        <div class="col-sm-3">
            <select ng-model="service.subcategory" class="form-control" required
                    ng-options="c.title for c in Category.sub(service.category) track by c._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

    <div ng-if="Category.hasSubSub(service.category, service.subcategory)" class="form-group">
        <label class="control-label col-sm-1 req">Под-подкатегория</label>
        <div class="col-sm-3">
            <select ng-model="service.subsubcategory" class="form-control" required
                    ng-options="c.title for c in Category.subSub(service.category, service.subcategory) track by c._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Наименование</label>
        <div class="col-sm-3">
            <input ng-model="service.title" class="form-control" maxlength="150" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Коротко</label>
        <div class="col-sm-3">
            <input ng-model="service.shortTitle" class="form-control" maxlength="20" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Стоимость</label>
        <div class="col-sm-3">
            <input type="number" ng-model="service.price" class="form-control" min="0" max="999999999" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1 req">Состояние</label>
        <div class="col-sm-3">
            <select ng-model="service.state" class="form-control" required
                    ng-options="s.title for s in states track by s._id">
                <option value="">-</option>
            </select>
        </div>
    </div>

</div>

{% include "partials/service/_templates.njk" %}

{% include "partials/service/_fields.njk" %}

{% include "partials/service/_res_fields.njk" %}