<h2>Шаблоны</h2>

<div ng-repeat="tpl in service.templates" class="panel panel-success" bs-collapse start-collapsed="true">
    <div class="panel-heading">
        <h3 class="panel-title" bs-collapse-toggle>
            <a href>Шаблон №{{ $index + 1 }}</a>
            <span ng-if="tpl.isDefault" class="label label-warning">Основной шаблон</span>
        </h3>
    </div>
    <div class="panel-body" bs-collapse-target>
        <form name="formServiceTemplate" novalidate>
            <div class="form-group">
                <label class="req">Наименование</label>
                <input ng-model="tpl.title" class="form-control" maxlength="200" required>
            </div>

            <div class="form-group">
                <label class="req">Шаблон</label>
                <textarea ng-model="tpl.content" ui-tinymce="tinymceOptions" cols="30" rows="10"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input ng-model="tpl.isDefault" ng-true-value="1" ng-false-value="0"
                           ng-change="Template.defaultChanged(tpl)" type="checkbox"> Основной шаблон
                </label>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="form-group">
            <button ng-click="Template.remove($index)" class="btn btn-danger">
                <i class="fa fa-fw fa-minus"></i> Удалить шаблон
            </button>
        </div>
    </div>
</div>

<div class="form-group">
    <button ng-click="Template.add()" class="btn btn-info">
        <i class="fa fa-fw fa-plus"></i> Добавить шаблон
    </button>
</div>
