<ol class="breadcrumb">
    <li><a ui-sref="partnerList">Партнёры</a></li>
    <li><a ui-sref="partnerCreate">Новый партнёр</a></li>
</ol>

<h3>Новый партнёр</h3>

<form name="formPartner" class="form-horizontal" novalidate>

    {% include "partials/partner/_form_fields.njk" %}

    <div class="row">
        <div class="col-sm-12 text-right">
            <button ui-sref="partnerList" class="btn btn-danger">Отмена</button>
            <button ng-click="savePartner()" ng-disabled="formPartner.$invalid"
                    class="btn btn-success">Сохранить
            </button>
        </div>
    </div>

</form>
