<h3>Партнёры</h3>

<button access="partner:create" ui-sref="partnerCreate" class="btn btn-success">
    <i class="fa fa-fw fa-plus"></i> Новый партнёр
</button>

<table class="table table-bordered table-striped table-hover table-condensed">

    <thead>
    <tr>
        <th>№</th>
        <th>Код</th>
        <th>Доля (%)</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Адрес</th>
        <th>Мобильный</th>
        <th>Городской</th>
        <th>Email</th>
        <th>Организация</th>
        <th>Дата регистрации</th>
        <th>Пользователь</th>
        <th></th>
        <th class="text-center">
            <button ng-click="reloadPage()" class="btn btn-xs btn-info" title="Обновить">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="partner in partners">
        <td class="text-right">{{ $index + 1 }}</td>
        <td>{{ partner.code }}</td>
        <td class="text-right">{{ partner.percent | number }}</td>
        <td>{{ partner.lastName }}</td>
        <td>{{ partner.firstName }}</td>
        <td>{{ partner.middleName }}</td>
        <td>{{ partner.address }}</td>
        <td>{{ partner.cellPhone }}</td>
        <td>{{ partner.homePhone }}</td>
        <td>{{ partner.email }}</td>
        <td>{{ partner.company }}</td>
        <td>{{ partner.created | date:'medium' }}</td>
        <td title="{{ partner.user.fullName }}">{{ partner.user.username }}</td>
        <td class="text-center" title="{{ partner.state.title }}">
            <i class="fa fa-fw"
               ng-class="{'fa-check text-success':partner.state._id=='active','fa-ban text-danger':partner.state._id=='blocked'}"></i>
        </td>
        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li access="partner:edit">
                        <a ui-sref="partnerEdit({id: partner._id})"><i class="fa fa-fw fa-edit"></i> Изменить</a>
                    </li>
                    <li access="partner:delete">
                        <a href ng-click="deletePartner(partner)"><i class="fa fa-fw fa-trash"></i> Удалить</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li access="report:partnerInterests">
                        <a ui-sref="partnerInterests({id: partner._id})">
                            <i class="fa fa-fw fa-paperclip"></i> Доходы
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>

</table>
